html
    head
        block title
        link(rel='stylesheet' href='/bootstrap3/css/bootstrap.css')
        link(rel='stylesheet' href='/assets/css/shards.css')
        link(rel='stylesheet' href='/assets/css/shards-extras.css')
    body
        div
            nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
                a(href='/').navbar-brand Nursing Home Investigator
        div.page-content
            block content
        footer