extends layout.pug

block content
    h1 Nursing Home Investigator
    div
        p
            | Compilation of COVID-19 testing and infection control practices and COVID-19
            | cases among residents and staff as reported by nursing homes to CMS.
        p This report also contains counts of infection-related and severe deficiencies of each nursing home
    block facilitiesSearch
    block stateSearch

