html
    head
        block title
        link(rel='stylesheet' href='/bootstrap3/css/bootstrap.css')
        link(rel='stylesheet' href='/assets/css/ct-paper.css')
    body
        div.container
            block content